canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}

 body {
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;

}
.container {
	margin: 0;
	padding: 0;
	height: 100%;
}

#canvas {
	display: block;
	padding: 0;
	margin: 0 auto;
	background-color:red;
}

@media(max-width:1200px) {
	.container {
		margin: 0 50px;
	}
	#canvas {
		width: 100%;
		height: auto;
		background-color:red;
	}
}

p{
	color: #fff;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 100px;  
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}